#zoomer {
  width: 600px;
  height: 500px;
  border: 1px solid #000;
  margin: auto;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: crosshair;
  /* user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none; */
}
#zoomer.is-holding {
  cursor: grab;
}
#zoomer.is-dragging {
  cursor: grabbing;
}
img {
  width: 400px;
  height: auto;
  display: block;
}
#canvas {
  max-height: 100%;
  display: block;
  position: absolute;
}
