<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="angular.min.js"></script>
  </head>
  <body ng-app="myApp">
    <div class="container" ng-controller="myController">
      <div class="wrapper">
        <div
          class="box"
          ng-repeat="box in data track by $index"
          ng-class="{'is-active': $index === activeId}"
        >
          {{ box }}
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
