* {
    box-sizing: border-box;
}
.container {
    width: min-content;
    height: 600px;
    overflow: hidden;
    margin: auto;
}
.wrapper {
    width: min-content;
}
.box {
    border: 2px solid #000;
    height: 200px;
    width: 200px;
    font-size: 5em;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box.is-active {
    border-color: red;
}